#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  /* color: #b79336;
  color: #ff5dae;
  color: #da322c;
  color: #ffe14b;
  color: #d8bf40;
  color: #8b67ba; */
  /* color: #ad886f; */
}



.logo {
  color: transparent;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}


.glowPoke {
  /* background-color: transparent; */
  /* filter: blur(10px); */
  /* z-index: 1; */

  /* From https://css.glass */
  background: #5959591a;
  /* box-shadow: 0 4px 30px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 4px 30px #00ff0d1a; */
  /* box-shadow: 0 4px 30px #ffd9001a; */
  /* box-shadow: 0 4px 30px #00fffb1a; */
  /* box-shadow: 0 4px 30px #00fffb25; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(100, 100, 100, 0.2);


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
  }

  &:hover::before {
    animation: brillo 700ms ease-in-out;
  }
}

@keyframes brillo {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

.glowPokeImg {
  cursor: pointer;
  width: 200px;
  transition: transform 400ms;

  &:hover {
    /* transform: skew(10) */
    /* transform: translate(10px, 10px) */
    transform: scale(125%)
  }

  /* transition: width 800ms;

  &:hover {
    width: 230px;
  } */
}

.cardPoke {
  border-radius: 32px;
  background: linear-gradient(145deg, #131313, #101010);
  box-shadow: 8px 8px 18px #0e0e0e,
    -10px -10px 18px #161616;
}

.cardPoke:hover .glowPoke::before {
  animation: brillo 700ms ease-in-out;
}

.container-snap::-webkit-scrollbar {
  display: none;
}

.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}